#.[oa]
#
m4
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config
configure
#
scanner.c
parser.h
parser.c
parser.output
#
pyscsi_wrap.cxx
pyscsi.py
pyscsi.pyc
optics.ps
linlat.out
linlat1.out
#
scsi_src/lib
#
*~
